/* color palette*/
:root {
  --white: #f4fdf7;
  --black: #08020a;
  --primary: #56c774;
  --utils-red: #d51111;
  --utils-green: #18b20e;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Asap";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: unset;
}
